/* Override border-radius class to fit Clever's theme */
.rounded,
.rounded-xl,
.rounded-3xl,
.rounded-lg,
.rounded-md,
.rounded-sm,
.code-block pre:not(.lntable pre),
.code-block .filename,
.chroma .lntable,
.content img,
.content div.gist-file,
.btn-secondary,
.btn-primary {
  border-radius: 0.29rem;
}

.content img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 

a.no-underline {
  text-decoration: none;
}

.content table,
.content table td,
.content table th {
  vertical-align: top;
} 

.content table img,
.content table td img,
.content table th img {
  border-radius: 0;
  box-shadow: none;
} 


/* Уменьшаем вертикальные отступы в тексте */
.content p {
  /*margin-top: 1em !important;*/
  line-height: 1.5 !important;
}

/* Если нужно ещё ближе прижатый вариант */
.content li {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
  line-height: 1.35 !important; 
}

/* Убираем зазор между абзацем и следующим списком */
.content p + ul,
.content p + ol {
  margin-top: 0.75em !important; /* убираем верхний отступ у списка */
}
